.disclaimer {
  position: relative;
  text-align: end;
}
.marquee {
  width: 100%;
}

.marquee h3 {
  display: inline-block;
  /* position: */
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-200%, 0%);
  }
}
